
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>{{title}}</h1>
<div>
  <app-app-lifecycle-hooks [message]="name"><p>Project Content.</p></app-app-lifecycle-hooks>
  <input [(ngModel)]= "name"  placeholder="Enter a name" style="margin-top: 20px;;">
</div>

<router-outlet></router-outlet>
